<script type="module" src="/js/logout.js"></script>
<footer>
    <div class="uv-footer">
        <p class="copyright">© 2025 Gonzalo Salas. All rights reserved.</p>
        <p class="links"><a class="links" href="https://github.com/GSS-99" target="_blank" rel="noopener noreferrer">GitHub</a> | <a class="links" href="https://www.linkedin.com/in/gonzalosalaslink" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
    </div>
</footer>