<footer>
    <div class="uv-footer">
        <p class="copyright">© 2025 Gonzalo Salas. All rights reserved.</p>
        <p class="links"><a class="links" href="https://github.com/GSS-99">GitHub</a> | <a class="links" href="https://www.linkedin.com/in/gonzalosalaslink">LinkedIn</a></p>
    </div>
</footer>