<footer class="uv-footer">
  <p>© 2025 Gonzalo Salas. All rights reserved.</p>
  <p><a href="https://github.com/GSS-99">GitHub</a> | <a href="https://www.linkedin.com/in/gonzalosalaslink">LinkedIn</a></p>
</footer>