<!DOCTYPE html>
    <%- include('partials/head') %>
    <body class="dashboard-content">
        <header class="dashboard-header">
      <div class="scrollmenu">
        <a class="nav-link" href="/dashboard">Home</a>
        <a class="nav-link" href="/shop">Shop</a>
        <a class="nav-link" href="/info">UV Facts</a>
        <a class="nav-link" href="/about">About</a>
        <button id="logout-btn">Logout</button>
      </div>
    </header>
    <main class="dashboard-section">
      <h1 class="section-title gradient-text" >About UV Control</h1>
      <section class="about-section">

        <p>
            <strong>UV Control</strong> is my first project as a full-stack web developer. My name is <strong>Gonzalo Salas</strong>, I have a background in media and a growing passion for both frontend and backend development. I love creating digital tools that are useful, accessible, and meaningful. This project brings together learning, creativity, and public health. It's available as an <a class="links" href="https://github.com/GSS-99/uv-control" target="_blank" rel="noopener noreferrer">open-source project on GitHub</a> for anyone who wants to explore, learn, or contribute.
        </p>


        <h4>Technologies used</h2>
        <ul>
          <li>Node.js & Express (server)</li>
          <li>Firebase Authentication (login)</li>
          <li>Leaflet.js + OpenStreetMap (map)</li>
          <li>Open-Meteo API (UV & weather data)</li>
          <li>HTML, CSS, EJS templates, JavaScript</li>
        </ul>

        <h4>Future improvements</h2>
        <ul>
          <li>Mobile app version (React Native or Swift)</li>
          <li>Personalized notifications and alerts</li>
          <li>Product checkout system (cart, filters)</li>
          <li>Multilingual support (ES, EN, DK)</li>
        </ul>

      </section>
    </main>
    <%- include('partials/footer') %>
    </body>
    
</html>